# Python compiled binaries.
__pycache__/

# Python virtual environment.
venv

# Local configuration and model files.
*.local.conf

# Local data.
dayliopy/var/data_in/*.csv
dayliopy/var/data_out/*.csv
dayliopy/var/data_out/*.sqlite
